# Operations on Lists / Multi Dimensional Lists
1.   Modifying Individual List Elements
2.   Deleting an Element

Accessing multi-dimensional lists using `for loop`, `while loop`, for loop with range and indices

Suppose that we are given temperature readings fromthe sensor and sensor somehow is mulfunctioning so it is sometimes unable to get readings. When it is not able to get readings from the atmosphere it simply saves `null` in our database.
Given below array of temperature readings can you replace all `null` values by 0?


```
temperatures = [22, 20, 'null', 21, 20, 18, 'null', 15, 17, 20]
```

To replace an element in a python list at ith index in a geiven_array the syntax is follows:



```
given_array[i] = new_value
```
in the above example `given_array` is the python list given, `i` is the index at which we want to replace the value and new_value is the value that we want to use

In [5]:
temperatures = [22, 20, 'null', 21, 20, 18, 'null', 15, 17, 20]
temperatures[9] = 21
print(temperatures)

[22, 20, 'null', 21, 20, 18, 'null', 15, 17, 21]

In [4]:
temperatures = [22, 20, 'null', 21, 20, 18, 'null', 15, 17, 20]
# simple way (manual way)
temperatures[2] = 0
temperatures[6] = 0
print(temperatures)

[22, 20, 0, 21, 20, 18, 0, 15, 17, 20]

Exercises

1.   use `for loop` to replace the null values with 0
2.   replace zeros with mean of the temperatures

In [8]:
# Q1
temperatures = [22, 20, 'null', 21, 20, 18, 'null', 15, 17, 20]
for i in range(len(temperatures)):
  if temperatures[i] == 'null':
    temperatures[i] = 0

print(temperatures)

[22, 20, 0, 21, 20, 18, 0, 15, 17, 20]

In [9]:
sum = 0
for i in range(len(temperatures)):
  sum = sum + temperatures[i]

mean = sum / len(temperatures)

for i in range(len(temperatures)):
  if temperatures[i] == 0:
    temperatures[i] = mean

print(temperatures)

[22, 20, 15.3, 21, 20, 18, 15.3, 15, 17, 20]

Excercises:


1.   Given below array remove all vegetables
2.   Can you replace these with some other fruit?

In [12]:
fruits = ['potato', 'apple', 'orange', 'guava', 'mango', 'onion', 'pineapple', 'dragon-fruit', 'walnut']

In [13]:
fruits[0] = 'kiwi'
fruits[5] = 'peach'
print(fruits)

['kiwi', 'apple', 'orange', 'guava', 'mango', 'peach', 'pineapple', 'dragon-fruit', 'walnut']

In [18]:
fruits = ['potato', 'apple', 'orange', 'guava', 'mango', 'onion', 'pineapple', 'dragon-fruit', 'walnut']
vegetables = ['potato', 'cabbage', 'eggplant', 'carrot', 'onion']
new_fruits = ['kiwi', 'peach']

replaced_idx = 0
for i in range(len(fruits)):
  # Stop at each element of fruits and check it again every element in the vegetables list
  current_fruit = fruits[i]
  for j in range(len(vegetables)):
    current_vegetable = vegetables[j]
    if current_fruit == current_vegetable:
      fruits[i] = new_fruits[replaced_idx]
      replaced_idx = replaced_idx + 1
  
print(fruits)

['kiwi', 'apple', 'orange', 'guava', 'mango', 'peach', 'pineapple', 'dragon-fruit', 'walnut']